body{
	background-image:  url("Images/bg1.jpg");
}

#all{
	background-color:white;
	margin-left:7%;
	margin-right:7%;
	margin-top:4%;
	margin-bottom:4%;
	padding: 0.5%;
}

#header{
	height:7em;
	background: url("Images/topbg.gif") repeat-x;
	margin-bottom:2px;
}

#logo{
	position:absolute;
	top: 4em;
	padding-left:1em;
}

#searchbar{
	position: absolute;
	top:9em;
	right:8.0em;
}

#searchbar input.submit{
	color:white;
	background-image: url("Images/db1.gif");
	border-style:none;
	height:1.5em;
}

#searchbar input.text{
	height:1em;
	position:relative;
	top:0em;
}
#logo h1{
	color:white;
	position:absolute;
	top:0.8em;

}

#logo p{
	color:gray;
	position:relative;
	top:4.3em;
}

#logo sup{
	color:gray;
}

#banner{
	margin-bottom:-1.5px;
}

#navbar ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow: hidden;
	background-image: url("Images/menubg.gif");
	height:3em;
}
#navbar li{
	display:inline;
	float:left;
	background-image: url("Images/menubg.gif");
	padding-left:1em;
}

#navbar a{
	display:block;
	padding:14px 16px;
	color: white;
	text-decoration:none;
	text-align:center;

}

#navbar a:hover{
	background-image: url("Images/menuactive.gif");
	background-repeat: repeat-x;
	text-decoration: underline;
}

#navbar a:active{
	background-image: url("Images/menuactive.gif");
}

#border1{
	background-image: url("Images/border1.gif");
	height:13px;
	margin-top:2px;
}

#content{
	padding:3em;
}

#topPost h2{
	display:inline;
}

.left{
	position:relative;
	float:left;
	padding:2px;
	margin-right: 5px;
	border-style: solid;
	border-width: 1px;
}

#divider1{
	position:relative;
	background-image: url("Images/border2.gif");
	height:14px;
	clear:both;
	margin-top: 4em;
}

.heading h5{
	display:inline;
	padding-right: 10px;
	font-size:17px;
}

.heading h6{
	position:relative;
	top:-1.5em;
	color:#4f4f4f;
}

.post{
	border-bottom-style: solid;
	border-width: 1px;
	padding-bottom:5px;
	padding-top:5px;
	border-bottom: solid 1px #E1D2BD;
	margin-bottom:1.0em;
}

.text{
	position:relative;
	top:-1em;
	color:#353535;
}

.text a{
	text-decoration: none;
	color: #5d7200;
}